.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* new card in AddCard.js */

.card {

  width: 75%;
  position: relative;
  width: 382px;
  height: 241px;
  margin: 10px auto;

  background: linear-gradient(248.3deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%), #D0D0D0;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  align-items: center;


}

.cardnumber input {
  position: relative;
  width: 382px;
  height: 30px;
  margin: 0 auto;
  font-size: large;

  border: 1px solid rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  border-radius: 8px;
}

.cardnumber  {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 382px;
  text-align: left;
}

.cardnumber label {
  font-size: 12px;
  font-style: normal;
}


/* Card design i Card */

.cardchip  {
  position: absolute;
  display: flex;
  align-items: left;
  padding: 15px 0 0 15px;
}

.cardMaker {
  position: absolute;
  left: 83.33%;
  right: 10%;
  top: 18.53%;
  bottom: 77.16%;
}

.nameMonthText {
  display: flex;
  top: 50px;
}

.cardValidThru {
  width: 50%;
}

.cardHolder  {
  width: 50%;
}

.cardHolderNumber {
  padding-top: 120px;

}


/* 
.cardHolder {
  position: absolute;
width: 251px;
height: 32px;
left: 32px;
top: 330px;

font-family: 'PT Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
display: flex;
align-items: center;
text-transform: uppercase;

} */

/* använd transform i css på cardstacken **/


/* css ändra färgen på korten */

.Blockchain {
  background-color: #7f51e3 !important;
}

.Bitcoin {
  background-color: #ffb444 !important;
}

.Ninja {
  background-color: #333333 !important;
  color: #bbbbbb !important;
}

.Evil {
  background-color: #db2f4e !important;
}

/* deleteknappen */

.delete {
  margin-left: 150px;
  margin-top: 25px;
  

  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.selected:hover .delete {
  display: unset;
  
}

.motherDiv {
  display: flex;
}

.deleteButton {
  width: 25%;
}

.cardbox {
  padding-left: 50px;
}
